################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GreeniumPrototype/.vs/GreeniumPrototype/v15/Server/sqlite3/db.lock
/GreeniumPrototype/.vs/GreeniumPrototype/v15/sqlite3/db.lock
